/* ===== Reset Layout Fix ===== */

#root {
  margin: 0;
  padding: 0;
  max-width: none;
}

/* إزالة أي محاذاة عامة */
body {
  margin: 0;
  padding: 0;
}

/* نحذف ستايل قالب Vite بالكامل */
.logo,
.card,
.read-the-docs {
  all: unset;
}
